.App {
  width: 50%;
  margin: 4rem auto;
  align-items: center;
  background-color: #E1E0E0;
}

.App-header {
  background-color: #E1E0E0;
  font-size: 30px;
  color: #353333;
  }

.Tool-item {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  color: #353333;
}

.link{
  color:#F93822; 
  font-weight: bolder;
}

.Img-Delete{
  width: 15px;
}

.Button-Delete{
  background: none;
  color:#353333;
  font-size: 16px;
  border: none;
  float: right;
}

.Add-Tool{
  background-color: #00b140;
  color: #353333;
  font-weight: bolder;
  padding: 4px 22px;
  position: absolute;
  top: 255px;
  left: 920px;
}