.App {
  width: 50%;
  margin: 4rem auto;
  align-items: center;
  background-color: #E1E0E0;
}

.App-header {
  background-color: #E1E0E0;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #F93822;
}

.Tool-item {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
}

.link{
  color:#F93822; 
  font-weight: bolder;
}

.Img-Delete{
  width: 15px;
}

.Button-Delete{
  background-color: #E1E0E0;
  border: none;
  position: relative;
  left:480px;
}

.Add-Tool{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  border: none;
  letter-spacing: 0.36px;
  background: #F93822;
  color: #fff;
  font: normal normal 600 1rem Source Sans Pro;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}