.App {
  width: 50%;
  margin: 4rem auto;
  align-items: center;
  background-color: #E1E0E0;
}

.App-header {
  background-color: #E1E0E0;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #F93822;
}

.Tool-item {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
}

.link{
  color: #F93822;
  font-weight: bolder;
}

.Img-Delete{
  width: 15px;
}

.Button-Delete{
  background-color: #E1E0E0;
  border: none;
  position: relative;
  left:480px;
}